@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Baskervville+SC&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Gowun+Batang:wght@400;700&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=League+Spartan:wght@100..900&family=Moderustic:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
}

header {
  background-color: #ffffff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f7eeee;

  a {
    text-decoration: none;
    color: #000000;
    font-size: 1.3rem;
    font-weight: 500;
  }

  li {
    list-style: none;
    display: inline;
    margin: 0 10px;
  }

  .navegador {
    display: flex;
  }

  .logo a {
    font-size: 2rem;
    padding: 10px 20px;
    padding: 20px;
  }
  .navegador a:hover {
    color: #b3a8a8;
    border-bottom: 1px solid #b3a8a8;
  }

  /* menu */
  button {
    border: none;
    background: none;
    outline: none;
  }

  .btn_menu_responsive {
    display: none;
    font-size: 2rem;
  }

  .navegador_mobile ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  @media (max-width: 768px) {
    .btn_menu_responsive {
      display: block;
      margin-right: 10px;
    }

    .social_links {
      display: none;
    }
    .navegador {
      display: none;
    }
  }
}

/* menu */
.menu_mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999;
  gap: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  clip-path: circle(0% at top left);
  transition: clip-path 0.5s ease-in-out;

  .btn_close {
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 40px;
    background: none;
    outline: none;
    border: none;

    .btn_close:hover {
      color: #b3a8a8;
    }

    i {
      font-size: 3rem;
    }

    .logo {
      a {
        font-size: 1rem;
        padding: 10px 20px;
        padding: 20px;
      }
    }
  }
}

.menu_mobile.active {
  clip-path: circle(150% at top left);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  border-bottom: 20px;
}

.main_content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 550px;
  margin: 0 auto;
  padding: 20px;
}
.section1 {
  background-color: rgb(143, 246, 246);
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 20px;
  gap: 20px;
  border-radius: 30px 0 0 30px;
}

.in_section1 {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn_section {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
}

.section1 h4 {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 13px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}
.section1 h1 {
  font-size: 3rem;
  font-weight: 700;
}

.section1 p {
  font-size: 1.4rem;
}

.in_section1 {
  font-size: 1rem;
}

.in_section1 h3 {
  background-color: #b3a8a863;
  border-radius: 20px;
  padding: 6px;
}

.section2 {
  background-color: #f2f2f2;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 30px;
}
.section2 img {
  width: 100%;
  height: 100%;
  border-radius: 0 30px 30px 0;
  object-fit: cover;
}
.btn_section button {
  padding: 20px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 20px;
  cursor: pointer;
}

.btn_section i {
  font-size: 1rem;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
}

/* categorias */

.categorias {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 50px 0;
}

.categoria_texto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.categoria_texto h1 {
  font-size: 3rem;
  font-weight: 700;
}

.categoria_texto a {
  font-size: 1.4rem;
  background-color: rgb(143, 246, 246);
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 20px;
  border-radius: 30px;
  font-weight: 800;
}

.lista_categorias {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contenedor11 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.categoria img {
  width: 150px;
  transition: 200ms ease-in-out;
}

.categoria {
  width: 200px;
  height: 190px;
  background-color: #b3a8a8;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.categoria:hover img {
  transform: translateY(-30px) scale(1.2);
  transition: 700ms;
}

.categoria h2 {
  margin-bottom: 10px;
}

.Desayuno {
  background-color: #f2f2f2;
}

.Vegano {
  background-color: #20934831;
}

.Carne {
  background-color: #c66a6a31;
}

.Postre {
  background-color: #d3f1112f;
}

.Chocolate {
  background-color: #43282831;
}

.recetas {
  width: 100%;
  height: 100%;
  display: flex;
}

.descripcion {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 30px;
  text-align: center;
}

.descripcion h1 {
  font-size: 3rem;
  font-weight: 700;
}

.descripcion p {
  font-size: 1.4rem;
  width: 50%;
}

.recetas_contendor {
  width: 100%;
  height: 100%;
  display: grid;
}

.recetas_cart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  height: 100%;
  position: relative;
}
.img_receta {
  width: 100%;
  border-radius: 30px;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

.img_receta img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.img_receta img:hover {
  transform: scale(1.1);
  transition: 400ms ease-in-out;
}

.img_receta .fa-solid.fa-heart {
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  color: rgba(153, 147, 147, 0.492);
  transition: 300ms ease-in-out;
}

.fa-solid.fa-heart.active {
  color: rgb(236, 59, 59);
  scale: 1.1;
}

.img_receta #corazon:hover {
  color: rgb(236, 59, 59);
  scale: 1.1;
}

.like {
  width: 200px;
  background-color: #942626;
  position: fixed;
  display: none;

  .fa-heart {
    color: #000000;
    background-color: #942626;
  }
}
.img_receta .corazonn.active {
  color: #000000;
  scale: 1.1;
}

.img_receta corazonn:hover {
  background-color: #000000;
  scale: 1.6;
}

.carta_receta {
  width: 300px;
  height: 340px;
  background-color: #a6eaf63d;
  position: relative;
  border-radius: 30px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: start;
  padding: 0 0 20px 0;
  display: flex;
  flex-direction: column;
}

.carta_receta h3 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

.carta_receta img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.carta_receta span {
  font-size: 1rem;
  font-weight: 400;
}

.tipo {
  padding: 20px;
  gap: 20px;
  display: flex;
}

.receta4 img {
  height: 230px;
}

.plate-food {
  background-color: rgba(43, 110, 43, 0.9);
}

.chef {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.chef_texto {
  max-width: 500px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.chef_texto h1 {
  font-size: 3rem;
  font-weight: 400;
  text-align: start;
}

.chef_texto p {
  font-size: 1.3rem;
  text-align: start;
}

.chef_texto button {
  padding: 20px;
  font-size: 1rem;
  width: 140px;
  background-color: black;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.chef_img img {
  width: 600px;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.instagram {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 200px;
  gap: 50px;
  background-color: rgba(169, 214, 235, 0.107);
}

.instagram_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.instagram_text h1 {
  font-size: 3rem;
  font-weight: 700;
}

.instagram_text p {
  font-size: 1.4rem;
}

.instagram_text strong {
  color: rgb(221, 60, 60);
}

.slider_post {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  gap: 20px;
}

.sliders {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.slider img {
  width: 300px;
}

@media (max-width: 768px) {
  .main_content {
    display: flex;
    max-width: 600px;
    align-items: center;
    justify-content: center;
  }
  .section1 h4 {
    align-items: center;
    font-size: 1.3rem;
  }
  .section1 h1 {
    font-size: 2.4rem;
  }
  .section1 button {
    padding: 5px;
    font-size: 12px;
  }

  .lista_categorias {
    display: flex;
    width: 100%;
    position: relative;
  }
  .contenedor11 {
    display: flex;
    overflow: scroll;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px;
  }
  .categoria {
    display: flex;
    width: 300px;
    flex: 1 0 auto;
    margin: 20px 0;
  }
  .categoria:hover img {
    transform: translateY(-30px) scale(1.1);
    transition: 200ms;
  }

  .recetas_cart {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .carta_receta {
    width: 500px;
    height: 400px;
  }
  .chef {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 400px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .chef_img img {
    width: 500px;
  }
  .chef_texto {
    display: flex;
    align-items: center;
  }

  .chef_texto h1 {
    font-size: 2rem;
    text-wrap: nowrap;
  }

  .chef_texto p {
    text-align: center;
  }
  .chef_texto button {
    width: 200px;
  }
  .sliders {
    overflow: scroll;
  }
}

@media (max-width: 425px) {
  .main_content {
    display: flex;
    margin-top: 100px;
    width: 100%;
    flex-direction: column;
  }
  .section1 {
    border-radius: 20px 20px 0 0;
    height: 400px;
  }
  .section2 img {
    border-radius: 0 0 20px 20px;
  }
  .section1 h4 {
    align-items: center;
    font-size: 1rem;
  }
  .section1 h1 {
    font-size: 1.4rem;
  }
  .section1 p {
    font-size: 1.2rem;
  }
  .section1 button {
    padding: 5px;
    font-size: 10px;
  }

  .lista_categorias {
    display: flex;
    width: 100%;
    position: relative;
  }
  .contenedor11 {
    display: flex;
    overflow: scroll;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px;
    align-items: center;
  }
  .categoria {
    display: flex;
    width: 300px;
    flex: 1 0 auto;
    margin: 20px 0;
  }
  .categoria:hover img {
    transform: translateY(-30px) scale(1.1);
    transition: 200ms;
  }
  .descripcion h1 {
    font-size: 2rem;
  }
  .descripcion p {
    text-align: center;
    width: 400px;
  }

  .categorias {
    margin-top: 100px;
  }
  .categoria_texto h1 {
    font-size: 1.9rem;
  }

  .categoria_texto a {
    font-size: 1rem;
  }

  .recetas_cart {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .carta_receta {
    width: 300px;
    height: 330px;
  }
  .chef {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 400px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .chef_img img {
    width: 400px;
  }
  .chef_texto {
    display: flex;
    align-items: center;
  }

  .chef_texto h1 {
    font-size: 1.2rem;
  }

  .chef_texto p {
    text-align: center;
    font-size: 1rem;
    font-weight: 100;
    width: 300px;
  }
  .chef_texto button {
    width: 160px;
  }
  .sliders {
    overflow: scroll;
  }
}
